/* google fonts linkup */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Poppins&display=swap');

/* before style */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start the main style from here */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
h1{
    font-size: 65px;
    font-weight: bolder;
    line-height: 78.66px;
    color: #FFFFFF;
}
h2{
    font-size: 45px;
    font-weight: 700;
}
h3{
    font-size: 30px;
    font-weight: 700;
}
h4{
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
}
p{
    font-size: 18px;
    line-height: 28px;
}
.banner-paragraph{
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.top-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../images/top-banner/banner-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:inherit;
    width: 100%;
    height: 750px;
    top: 0px;
    display: flex;
    margin-bottom: 50px;
}
.banner-details{
    text-align: center;
    width: 826px;
    margin: auto;
}

/* all buttons are here */
.click-button{
    text-decoration: none;
    background-color:#FF5959;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 45px;
    border-radius: 25px;
}
.contribute-button{
    text-decoration: none;
    background-color: #FF5959;
    color: #FAFAFA;
    padding: 15px 45px;
    border-radius: 20px;
}

/* donation style area start */
.donation-details{
    width: 691px;
    text-align: center;
    margin: auto;
}
.donation-amount{
    display: flex;
    justify-content: center;
}
.amount-taka{
    width: 135px;
    height: 123px;
    background:  #FAFAFA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 55px 20px 30px 20px;
}
#amount-color{
background: #FFEEEE;
color: #FF5959;
}
.other-amount{
    text-align: center;
    justify-content: center;
    width: 765px;
    margin: auto;
    font-weight:lighter;
    margin-top: 20px;
    margin-bottom: 30px;
}
.other-amount input{
    color: #B3B3B3;
    font-size: 18px;
    border: none;
    opacity: 0.5;
    padding: 15px 40px;
}
.amount-donation{
    text-align: center;
}

/* donate plan section */
.donate-details{
    text-align: center;
    width: 691px;
    margin: auto;
    margin-top: 100px;
}
.donate-card{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.donate-card-part{
    width: 360px;
    height: 362px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 20px;
    padding: 60px 30px 30px 25px;
    border-radius: 10px;
    margin-bottom: 130px;
}
#card-1{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
#card-2{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
#card-3{
    background: #FFF4D6;
    border-radius: 5px;
}

/* people news section */
.news-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 150px;
}
.news-half{
    width: 493px;
    height: 374px;
}
.news-half img{
    width: 100%;
    height: 477px;
}

/* our donors section */
.donor-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0;
}
.donor-card{
    margin: 15px;
}
.donor-card img{
    width: 230px;
    height: 130px;
    margin: auto;
}

/* get update section */
.updates-section{
   display: flex;
   flex-direction: column;
}
.get-update-details{
    text-align: center;
    width: 691px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
.user-form{
    width: 809px;
    height: 200px;
    background-color:  #FFF4D6;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.email-form input{
    width: 275px;
    height: 48px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    padding-left: 17px;
}
.subscribe-button{
    width: 157px;
    height: 48px;
    left: 780px;
    top: 3518px;
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
}
.subscribe-button a{
    text-decoration: none;
    color: #ffff;
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

/* footer section here */
footer{
    width: 100%;
    height: 177px;
    text-align: center;
    background-color: #1E1E1E;
    margin-top: 100px;
    padding-top: 10px;
}
#color-text{
    color: #FF5959;
    font-family: Lobster;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.5px;
}
.bottom-text{
    color: #B3B3B3;
    text-align: center;
}
.copy-rights{
    color: #B3B3B3;
    text-align: center;
    margin-top: 30px;
}


/* finish the code for today, Thank you 😊 */